@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0;
    padding: 0;
}
.content {
    text-align: center;
    height: calc(100vh - 64px)!important;
    font-family: sans-serif;
}
.container {
    position: relative;
}
.message {
    color: white;
    font-family: sans-serif;
    padding: 5px;
    margin-bottom: 20px;
}

.message.warning {
    background: #dc3545;
}
.message.success {
    background: #28a745;
}
.message.none {
    display: none;
}
@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}