<div *ngIf= "getAuth">
    
<mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">Angular List Application</h1>

    <span class="log-out" routerLink= '/login'> Log out</span>
</mat-toolbar>
  
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav class="sidenav">
            <span class="sidenav__title">Welcome Back</span>
            <div class="user-info" *ngIf = "user | async as u">
                <img [src]="u.photoURL" alt="ptoto" class="user-photo">
                <div class="user-info__text">
                    <span class="user-info__name">
                        {{u.displayName}}
                    </span>
                    <span class="user-info__email">
                        {{u.email}}
                    </span>
                </div>
            </div>
        </mat-sidenav>
        <div class="content">
        <router-outlet></router-outlet>
        </div>
    </mat-sidenav-container>
</div>
